@mixin cardGrid {
  display: grid;
  grid-template-columns: $grid-avatar-size auto;
  grid-template-rows: repeat(3, 1fr);
}

@mixin card {
  padding: $img-border;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #dadada;
}

@mixin avatar($margin) {
  width: $avatar-size + $margin;
  height: $avatar-size;
}

@mixin arrows {
  position: fixed;
  border-radius: 50%;
  background-color: $bg-color;
  color: darkgray;
  padding: 1em;
  width: 3em;
  height: 3em;
  top: 45%;
  text-align: center;
}

@mixin pointer {
  cursor: pointer;
}

@mixin mediaFlex($brk-pnt){
  @media (min-width: $brk-pnt) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    & input {
      margin-left: auto;
    }
  }
}

@mixin mediaGrid($brk-pnt, $col) {
  @media (min-width: $brk-pnt) {
    grid-template-columns: repeat($col, 1fr);
  }
}
