body {
  background-color: $bg-color;
}

.container {
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  & h1 {
    font-size: 1em;
    color: #777;
  }
  & input {
    width: 100%;
    margin: .5em 0 0.75em;
    padding: 0 1em;
    background-color: $bg-color;
    border: none;
    text-align: center;
    font-size: 1.75em;
    &:focus {
      outline: none;
      background-color: white;
    }
  }
}

.employees {
  display: grid;
    grid-template-columns: 1fr;
  grid-gap: 1em;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1105px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
