@import url('https://fonts.googleapis.com/css?family=Questrial');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  width: 95%;
  margin: 0 auto 5em;
}

h3,
p {
  margin: 0;
  // font-size: 1em;
}

ul {
  max-width: 385px;
  margin: 0 auto;
  padding: 0;
  @media (min-width: 768px) {
    max-width: 720px;
    margin: 0 auto;
  }

  @media (min-width: 1105px) {
    max-width: 1035px;
    margin: 0 auto;
  }
}
